* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #fff;
  padding: 0;
  margin: 0;
}

body {
  background: #0e1129;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

input {
  color: #000;
}
